

.login__screen{
    min-height: 100vh;
    background: url("../../assets/images/bg.jpg") #4A4A4A no-repeat;
    background-size: cover;

}

.login__wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(5, 5, 5, 0.6);
}